.about {
  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    width: 255px;
    height: 192px;

    @include on-tablet {
      width: 280px;
    }

    @include on-desktop {
      width: 450px;
      height: 150px;
    }
  }

  @include on-tablet {
    display: flex;
    gap: 24px;
  }

  @include on-desktop {
    display: flex;
    justify-content: space-between;
  }
}
