.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--about {
    text-align: left;
    margin-bottom: 32px;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }

  &--contact-us {
    @include on-desktop {
      font-weight: 600;
    }
  }
}
