*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
  color: $main-text-color;
  background-color: #1d1d1d;
  &:has(.menu:target) {
    overflow: hidden;
  }
}

body {
  margin: 0;
}
